

<h1>一覧</h1>

<div id="indexlist">
<% @docs.each do |doc| %>
    <div class="item">
        <div class="title"><a href="/view/<%= doc[:id] %>"><%= doc[:title] %></a></div>
        <div class="path"><%= doc[:path] %></div>
        <div class="keyword">keyword: <%= doc[:words] %></div>
    </div>
<% end %>
</div>