<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
<style type="text/css">
<%= scss :style %>
</style>
  <title>doc-codelib2</title>
</head>
<body>
  
  <div id="bodywrapper">
    <div id="header">
      <h1>doc-codelib2</h1>
    </div>
    <div id="navigator" role=”navigation”>
      <ul class="linkedlist">
        <li>
          <a href="/">index</a>
        </li>
        <li>
          <a href="https://github.com/buyoh/codeLib2">github</a>
        </li>
        <li>
          <form method="GET" action="/search">
            <div id="searchbox">
              <label for="searchbox_input">keyword</label><input id="searchbox_input" class="input" type="text" size="20" name="word" value="<%=@searchKeyword || ""%>">
              <input class="button" type="submit" value="検索">
            </div>
          </form>
        </li>
        <% if $enable_cart %>
        <li class="right"><a href="/cart">カート(<%= @cart['i'].size %>)</a></li>
        <% end %>
        <li></li>
      </ul>
    </div>
    <div id="main" role="main">
      <%= yield %>
    </div>
  </div>
  
</body>
</html>
